.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #3E4451;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.Temp-Page {
   background-color: #3E4451;
   min-height: 10vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

h1 {
   font-size: 65px;
   margin-bottom: 10px;
   padding-bottom: 0px;

   -webkit-text-stroke: 2px white;
}

h2 {
   font-size: 35px;
   margin-top: 0px;
   margin-bottom: 50px;
   padding-bottom: 0px;
}

h3 {
   color: white;
   margin-top: 0px;
   margin-bottom: 50px;
   padding-bottom: 0px;
}

h6 {
   margin-top: 0px;
   padding-top: 0px;
   font-size: 15px;
}

/* CSS */
.button-85 {
   font-weight: bold;
   font-size: 16px;
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(0, 0, 0);
   background: white;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.button-85:before {
   content: "";
   background: linear-gradient(45deg,
         #ff0000,
         #ff7300,
         #fffb00,
         #48ff00,
         #00ffd5,
         #002bff,
         #7a00ff,
         #ff00c8,
         #ff0000);
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   -webkit-filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing-button-85 20s linear infinite;
   transition: opacity 0.3s ease-in-out;
   border-radius: 5px;
}

@keyframes glowing-button-85 {
   0% {
      background-position: 0 0;
   }

   50% {
      background-position: 400% 0;
   }

   100% {
      background-position: 0 0;
   }
}

.button-85:after {
   font-size: 50px;
   z-index: -1;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: white;
   left: 0;
   top: 0;
   border-radius: 10px;
}

.video-container {
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%; 
   overflow: hidden;
 }
 .video-container video {
   /* Make video to at least 100% wide and tall */
   min-width: 100%; 
   min-height: 100%; 
 
   /* Setting width & height to auto prevents the browser from stretching or squishing the video */
   width: auto;
   height: auto;
 
   /* Center the video */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }

.video-background__content {
   /* Top left corner */
   left: 0px;
   position: absolute;
   top: 0px;

   /* full size */
   height: 100%;
   width: 100%;

   /* center content */
   margin-top: 0;
   padding-top: 0;
   color: white;
   text-align: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* END Video Background Testing */